body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #858080;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.login-container h1 {
    margin-bottom: 20px;
}
.login-container input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    width: 50%;
    padding: 10px;
    background: #5291da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.login-container button:hover {
    background: #88c0ff;
}
.register-button {
    background: #88c0ff;
}
.register-button:hover {
    background: #88c0ff;
}